body {
  font-family: Arial, sans-serif;
  margin: 0;
  padding: 0;
  background-image: url(images/fond3);
  background-repeat: no-repeat;
  background-size: cover;
}

  header{
      display: flex;
      align-items: center;
      justify-content: space-between;
      height: 80px;
      padding :0 10%;
      position: fixed;
      top: 0;
      left: 0;
      right: 0; 
      background-color: rgba(86, 115, 122, 0.9);
      box-shadow: 0 0 10px rgba(39, 24, 133, 0.2);
      z-index: 15px;     
  }

  header.header img {
      width:100px;
      border-radius: 20px;
  }
  
.logo{
  color:white;
font-weight: 700; 
font-size: 25px;

}
.logo span{
  color: #051a38;}

   nav .navbar li{
      display: inline-block;

  }
  nav .navbar a{
      text-decoration: none;
      color: white;
      width: 100px;
      display: flex;
      padding: 25px 20px;
      font-size: 15px;
      text-transform: uppercase;
      font-weight: bold;
      text-align: center;


  }
  nav .navbar a:hover{
      color:black;
      cursor: pointer;
      
}
.container{
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
}
      
.formulaire {
  display: flex;
  justify-content: center;
  align-items: center;
  width: 60%;
  margin-top: 100px; 
  padding: 20px;
  background-color: #fff;
  border-radius: 5px;
  box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
}

.form1{
  display: flex;
}
.form1 .form2{
  display: flex;
  align-items: center;
  width: 70%;
  margin: 15px;
}

.form3{
  display: flex;
  align-items: center;
  width: 100%;
  margin: 15px;
}

#tache{
  width: 100%;
}

h1 {
  text-align: center;
  color: #333;
}
.formulaire label {
  display: flex;
  font-weight: bold;
  margin: 10px;
}
.formulaire textarea{
  width: 70%;
  padding: 10px;
  border: 1px solid #ccc;
  border-radius: 3px;
  box-sizing: border-box;
}

.formulaire input[type="text"],
.formulaire select {
  width: 50%;
  padding: 10px;
  border: 1px solid #ccc;
  border-radius: 3px;
  box-sizing: border-box;
}

.formulaire button {
  display: block;
  padding: 10px;
  background-color: #4caf50;
  color: #fff;
  border: none;
  border-radius: 3px;
  cursor: pointer;
  font-size: 16px;
}

.btn{
  display: flex;
  justify-content: center;
  align-items: center;
  margin: 10px;
}
.tableau{
  display: flex;
  justify-content: center;
  align-items: center;
  width: 100%;
  margin-top: 10px; 
  padding: 20px;
  box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
}

table{
  width: 60%;
  background-color: aliceblue;
}

table, tr{

  border: 0.5px solid black;
  border-collapse: collapse; 
  text-align: center;
} 

.calendrier{
  width: 500px;
  height: 11000px;
  background-color: aliceblue;
}
.affiche{
  background-color: #6d836e;
  font-size: 20px;
  box-shadow: 1px 0 1px 0 rgba(149, 162, 206, 0.1);
  border-radius: 20px;
}
.taSK-list{
  margin-top: 150px; 
  max-width: 800px;
  padding: 20px;
  background-color: #fff;
  border-radius: 5px;
  box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
}
div .calendrier{
  margin-top: 10px;
  font-size: 14px;
  text-decoration: 0;
  background-color: #27ae60;
  padding: 5px 60px;
  color: #fff;
  border-radius: 6px;
} 
.motivation-introduction {
  max-width: 1200px;
  margin: 200px auto;
  padding: 20px;
  background-color: #f9f9f9;
  border-radius: 10px;
  box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
}

.motivation-introduction h2 {
  color: #333;
  font-size: 24px;
  font-weight: bold;
  margin-bottom: 20px;
}

.motivation-introduction p {
  color: #666;
  font-size: 16px;
  line-height: 1.6;
  margin-bottom: 15px;
}

.motivation-introduction p:last-child {
  margin-bottom: 0;
}

/*oumar ndiay footer*/
footer{
  background-color: #4caf50;
  text-align: center;
  padding-top: 10px;
}
.coordonneés {
display: flex;
flex-direction: row;
justify-content:space-evenly;
margin-left: 10px;
margin-right: 10px;
font-size: 20px;
}
img{
  width: 50px;
}
.toggle_menu{
  display: none;
}


@media screen and (max-width: 800px) {
  .titre {
    font-size: 24px; 
    margin-top: 50px; 
  .toggle_menu{
      display: flex;
      height: 40px;
      width: 40px;
      align-items: center;
      justify-content: center;
      position: relative;
      cursor: pointer;
  }
  .toggle_menu::before{
      position: absolute;
      content: "";
      height: 3px;
      width: 28px;
      background-color: #27ae60;
      border: 1px solid #27ae60;
      box-shadow: 0 10px 0 #27ae60;
      transform: translateY(-10px);
  }
  .toggle_menu.active::before{
      transform: translateY(0) rotate(135deg);
      box-shadow: 0 0 0 #27ae60;
  }
  .toggle_menu::after{
      position: absolute;
      content: "";
      height: 3px;
      width: 28px;
      background-color: #27ae60;
      border: 1px solid #27ae60;
      transform: translateY(10px);
      transition: 0.5s;
  }
  .toggle_menu.active::after{
      transform: translateY(0) rotate(-135deg);
      box-shadow: 0 0 0 #27ae60;
  }

  header .menu.responsive{
      display: flex;
      position: absolute;
      top: 50px;
      left: 0;
      width: 100%;
      display: flex;
      align-items: center;
      justify-content: center;
      background-color: #fff;
      box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
      flex-direction: column;
  }

  header .navbar.responsive li{
      margin: 15px 0;
  }

  header .navbar{
      display: none;
  }
  header{
      padding: 0 20px;
  }
  #home{
      flex-direction: column;
      padding: 12px;
      height: fit-content;
  }

  #home .left , #home .right{
      width: 100%;
      padding: 0;
  }

  #home .left{
      margin: 100px 0;
  }

  #home .left h1{
      font-size: 20px;
      margin-bottom: 15px;
  }
  #home .left h4{
      font-size: 15px;
  }
  #home .left p{
      font-size: 15px;
  }

  #menu .dishes .dish{
      width: 100%;
      max-width: 260px;
  }
  .tableau{
      display: flex;
      justify-content: center;
      align-items: center;
      width: 100%;
      margin-top: 10px; 
      padding: 20px;
      
      box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
  }
  
  table{
      width: 100%;
      background-color: aliceblue;
      margin: 10px;
  }




  .formulaire {
      width: 90%;
      margin-top: 100px; 
      padding: 20px;
      background-color: #fff;
      border-radius: 5px;
      box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
     
  }
  .form1{
      display: block;
  }
  .form1 .form2{
      display: block;
      align-items: center;
      width: 100%;
      margin: 5px;
  }
  
  .form3{
      display: block;
      align-items: center;
      width: 100%;
      margin: 5px;
  }

  .formulaire label {
      display: block;
      font-weight: bold;
      margin: 10px;
  }
  .formulaire textarea{
      width: 100%;
      padding: 10px;
      border: 1px solid #ccc;
      border-radius: 3px;
      box-sizing: border-box;
      margin: 5px;
  }
  
  .formulaire input[type="text"],
  .formulaire select {
      width: 100%;
      padding: 10px;
      border: 1px solid #ccc;
      border-radius: 3px;
      box-sizing: border-box;
  }
  
  .formulaire button {
      display: block;
      padding: 10px;
      background-color: #4caf50;
      color: #fff;
      border: none;
      border-radius: 3px;
      cursor: pointer;
      font-size: 16px;
  }
  
  .btn{
      display: flex;
      justify-content: center;
      align-items: center;
      margin: 10px;
  }

  .motivation-introduction {
    padding: 10px; 
  }


  #menu {
    padding: 0 10px; 
  }
}
.toggle_menu{
    display: none;
}


@media screen and (max-width: 800px) {
    .titre {
      font-size: 24px; 
      margin-top: 50px; 
    }
    .toggle_menu{
        display: flex;
        height: 40px;
        width: 40px;
        align-items: center;
        justify-content: center;
        position: relative;
        cursor: pointer;
    }
    .toggle_menu::before{
        position: absolute;
        content: "";
        height: 3px;
        width: 28px;
        background-color: #27ae60;
        border: 1px solid #27ae60;
        box-shadow: 0 10px 0 #27ae60;
        transform: translateY(-10px);
    }
    .toggle_menu.active::before{
        transform: translateY(0) rotate(135deg);
        box-shadow: 0 0 0 #27ae60;
    }
    .toggle_menu::after{
        position: absolute;
        content: "";
        height: 3px;
        width: 28px;
        background-color: #27ae60;
        border: 1px solid #27ae60;
        transform: translateY(10px);
        transition: 0.5s;
    }
    .toggle_menu.active::after{
        transform: translateY(0) rotate(-135deg);
        box-shadow: 0 0 0 #27ae60;
    }

    header .menu.responsive{
        display: flex;
        position: absolute;
        top: 50px;
        left: 0;
        width: 100%;
        display: flex;
        align-items: center;
        justify-content: center;
        background-color: #fff;
        box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
        flex-direction: column;
    }

    header .navbar.responsive li{
        margin: 15px 0;
    }

    header .navbar{
        display: none;
    }
    header{
        padding: 0 20px;
    }
    #home{
        flex-direction: column;
        padding: 12px;
        height: fit-content;
    }

    #home .left , #home .right{
        width: 100%;
        padding: 0;
    }

    #home .left{
        margin: 100px 0;
    }

    #home .left h1{
        font-size: 20px;
        margin-bottom: 15px;
    }
    #home .left h4{
        font-size: 15px;
    }
    #home .left p{
        font-size: 15px;
    }

    #menu .dishes .dish{
        width: 100%;
        max-width: 260px;
    }
    .tableau{
        display: flex;
        justify-content: center;
        align-items: center;
        width: 100%;
        margin-top: 10px; 
        padding: 20px;
        
        box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
    }
    
    table{
        width: 100%;
        background-color: aliceblue;
        margin: 10px;
    }



  
    .formulaire {
        width: 90%;
        margin-top: 100px; 
        padding: 20px;
        background-color: #fff;
        border-radius: 5px;
        box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
       
    }
    .form1{
        display: block;
    }
    .form1 .form2{
        display: block;
        align-items: center;
        width: 100%;
        margin: 5px;
    }
    
    .form3{
        display: block;
        align-items: center;
        width: 100%;
        margin: 5px;
    }

    .formulaire label {
        display: block;
        font-weight: bold;
        margin: 10px;
    }
    .formulaire textarea{
        width: 100%;
        padding: 10px;
        border: 1px solid #ccc;
        border-radius: 3px;
        box-sizing: border-box;
        margin: 5px;
    }
    
    .formulaire input[type="text"],
    /* .formulaire textarea, */
    .formulaire select {
        width: 100%;
        padding: 10px;
        border: 1px solid #ccc;
        border-radius: 3px;
        box-sizing: border-box;
    }
    
    .formulaire button {
        display: block;
        padding: 10px;
        background-color: #4caf50;
        color: #fff;
        border: none;
        border-radius: 3px;
        cursor: pointer;
        font-size: 16px;
    }
    
    .btn{
        display: flex;
        justify-content: center;
        align-items: center;
        margin: 10px;
    }
  
    .motivation-introduction {
      padding: 10px; 
  
    .calendrie {
      margin: 50px auto; 
      height: auto;
    }
  
    #menu {
      padding: 0 10px; 
    }
  }