body {
    font-family: Arial, sans-serif;
    margin: 0;
    padding: 0;
    background-color: #f8f8f8;
}

.formulaire {
    max-width: 800px;
    margin: 20px auto;
    padding: 20px;
    background-color: #fff;
    border-radius: 5px;
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
}

h1 {
    text-align: center;
    color: #333;
}

input {
    margin-bottom: 20px;
}


.formulaire label {
    display: flex;
    margin-bottom: 5px;
    font-weight: bold;
    margin-left: 200px;
    margin-right: 300px;
}

.formulaire input[type="text"],
.formulaire textarea,
.formulaire select {
    width: 100%;
    padding: 10px;
    margin-bottom: 10px;
    border: 1px solid #ccc;
    border-radius: 3px;
    box-sizing: border-box;
}

.formulaire button {
    display: block;
    width: 100%;
    padding: 10px;
    background-color: #4caf50;
    color: #fff;
    border: none;
    border-radius: 3px;
    cursor: pointer;
    font-size: 16px;
}
table, th , td{
    border: 1px solid black;
    border-collapse: collapse;
    border-radius: 6px;
    margin-top: 25px;
    justify-items: center;
    justify-content: center;
    text-align: center;
    width: 500px;
    margin-left: 100px;
    
}

